@media only screen and (max-width: 1200px) {
    .form-border {
        max-width: 80%;
    }
    .uk-navbar-center {
        display: none;
    }
    .uk-navbar-right {
        float: right;
        margin-right: 0px;
        margin-top: 0px;
        width: 100%;
        min-width: max-content;
    }
    .toggel-button {
        display: block !important;
    }
    img.logo-ayol {
        width: 100%;
        margin: -73px 40% 118px 0px !important;
        max-width: 80px;
    }
    .uk-card.uk-card-default.uk-card-body.job.uk-margin-left {
        width: 100% !important;
        margin-left: auto !important;
        margin-right: auto !important;
        margin-top: 15px;
        display: block;
    }
    .logo {
        width: 100%;
        max-width: 120px;
        margin: 40px 15px;
    }
    a.toggele-top {
        display: flex !important;
    }
}
@media only screen and (max-width: 800px) {
    .uk-table.min-p td {
        padding: 16px 1px;
    }
    footer ul.uk-list {
        width: 100%;
        margin-top: 25px;
    }
    img.backimg {
        position: absolute;
        opacity: 0.2;
        height: 100%;
        max-height: 428px;
        width: 100%;
        margin-top: -15px;
    }
}
/**/
@media only screen and (max-width: 520px) {
    .min-btn button {
        font-size: 14px !important;
    }
    .right-search {
        display: none;
    }
    .search-btn-phone{
        display: block;
    }
    button.uk-button {
        width: 100%;
    }
    button.uk-button.uk-button-primary.btn-radio {
        border-radius: 35px;
        font-size: 17px;
        width: max-content;
    }
     table#tabel-responsive thead{
        display:none;
    }
    table#tabel-responsive tbody  ,  table#tabel-responsive td,  table#tabel-responsive tr {
        display: block;
        width: 100%;
        border-bottom: solid 1px #f1f1f1;
    }
    .uk-margin-top.btn-call {
        width: 100%;
    }
   td .uk-position-center {
        display: contents;
    }
}
@media only screen and (max-width: 480px) {
    .min-btn button {
        font-size: 11px !important;
        height: 35px;
    }
    .swetch-btn .uk-button {
        border: none !important;
        box-shadow: none;
        padding: 2px 16%;
        margin: 5px 5px;
        width: 100%;
        height: 40px;
        line-height: 1;
        border-radius: 76px;
        max-width: max-content;
        font-size: 13px;
    }
    .swetch-btn {
        background-color: white;
        padding: 0px;
        margin-left: auto;
        margin-right: auto;
        width: 70%;
        overflow: hidden;
        border-radius: 28px;
        height: 50px;
        border: 1px solid #e5ebf1;
        box-shadow: 0 10px 15px -6px rgb(119 119 119 / 40%);
    }
    button.toggel-button{
        margin-top: 20px !important;
    }
    .right-nav {
        margin: 20px -5px 0px 2% !important;
        display: flex;
    }
    button.user-menu-bar {

        margin-top: -10px;
    }
    .uk-button.uk-float-left.user-menu-bar{
        padding: 0 3px !important;
    }
    .content-header {
        margin-bottom: 40%;
    }
    h1.uk-title.header {
        font-size: 26px;
    }
}
@media only screen and (max-width: 420px) {

    img.logo-ayol {
        width: 100%;
        margin: -80px 46% 78px -38px !important;
        max-width: 70px;
    }
    .content-header {
        margin-bottom: 60%;
    }
    h1.uk-title.header {
        font-size: 20px;
    }
}
@media only screen and (max-width: 350px) {
    img.logo-ayol {
        width: 100%;
        margin: -80px 46% 78px -38px !important;
        max-width: 70px;
    }
    .right-nav a .uk-button {
        margin: 0 0px !important;
        padding: 0px 20px;
    }
    .content-header {
        margin-bottom: 60%;
    }
    h1.uk-title.header {
        font-size: 20px;
    }
}
@media only screen and (max-width: 330px) {

    .right-nav a.uk-button {
        display: none !important;
    }

}
