               <div class="row mx-auto w-100">
                        <div class="col-sm mb-4">
                            <div class="card card__info text-center p-3">
                                <div class="card__info_body">
                                    <h1 class="card__info_title">الرصيد الكلي</h1>
                                    <h1 class="card__info_money">0.00 MAD</h1>
                                </div>
                                <div class="card__info_footer">
                                  <div class="row">
                                    <div class="col-sm">
                                        المبلغ المستحق
                                    </div>
                                    <div class="col-sm">
                                       0.00 MAD
                                    </div>
                                </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm mb-4">
                            <div class="card card__info text-center p-3" >
                                <div class="card__info_body">
                                    <h1 class="card__info_title">الرصيد القابل للسحب</h1>
                                    <h1 class="card__info_money">0.00 MAD</h1>
                                </div>
                                <div class="card__info_footer">
                                  <div class="row">
                                    <div class="col-sm">
                                        الرصيد المعلق
                                    </div>
                                    <div class="col-sm">
                                       0.00 MAD
                                    </div>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>